TELEGRAM_BOT_TOKEN='5118776470:AAFGKLIPh_GiLnwBDN7WQKUoLyoMoq7Js0g'
ADMIN_CHAT_ID='669617972'

REMOTE_BASE_PATH=f2jnybpk.epizy.com
REMOTE_URI="" # Leave empty if your in the root of your domain (With trailing slash)

REMOTE_PATH="${REMOTE_BASE_PATH}${REMOTE_URI}" # DO NOT CHANGE THIS
RESOURCE_PATH="${REMOTE_PATH}/public/" # DO NOT CHANGE THIS